---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside>
	<h2>Intéressé par mon profil ?</h2>
	<CallToAction href="mailto:yonigaudiere2014@gmail.com">
		Envoyez-moi un mail
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>

  <!-- Nouveau bouton pour télécharger le CV -->
  <CallToAction href="../public/assets/YONI-GAUDIERE-CV-FIN2024.pdf" download>
    Télécharger mon CV
    <Icon icon="file-text" size="1.2em" />
  </CallToAction>
</aside>



<style>
	aside {
		
		align-items: center;
		gap: 3rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 5rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
	
	}

	@media (min-width: 50em) {
		aside {
			padding: 5rem;
			justify-content: space-between;
			display: flex;
		}

		h2 {
			
			font-size: var(--text-3xl);
			text-align: center;
		}

	}
</style>
